.about-section {
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section h3 {
    margin-top: 0;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.about-section ul {
    list-style: none;
    padding: 0;
}

.about-section li {
    padding: 0.5rem 0;
}

.about-section a {
    color: #80b2ff;
    text-decoration: none;
}

.about-section a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .about-section {
        padding: 0.5rem;
    }
}


