.container {
    background-color: #eff3fe;
}

.dashboard-overview, .statistics, .calendar-view {
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 10px;
    color: #4c4c4c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow-x: auto; /* Add horizontal scroll if content is too wide */
}

.dashboard-overview h3, .statistics h3, .calendar-view h3 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

#upcoming-tasks-events {
    list-style: none;
    padding: 0;
    margin: 0;
}

#upcoming-tasks-events li {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
}

#upcoming-tasks-events li:last-child {
    border-bottom: none;
}

.statistics {
    overflow-x: auto; /* Add horizontal scroll if content is too wide */
}

#task-event-statistics {
    width: 100%;
    height: auto; /* Change to auto to accommodate content */
    border: none; /* Remove border from canvas */
}

.statistics h3, .calendar-view h3 {
    margin-top: 0;
}

.calendar-view {
    margin-top: 2rem;
}

/* Add styles for chart labels */
#task-event-statistics {
    font-size: 10px; /* Adjust font size */
}

.task-link {
    cursor: pointer;
    text-decoration: none;
    color: #4c4c4c;
}

.task-link:hover {
    color: #80b2ff;
}

/* Add media query for smaller screens */
@media (max-width: 768px) {
    #task-event-statistics {
        width: 100%;
        height: auto;
    }
}
