:root {
  --primary-color: #90b2ff;
  --secondary-color: #eff3fe;
  --text-color: #333;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  scroll-behavior: smooth;
  background-color: var(--secondary-color);
}

h1 {
  color: #fff;
}
header {
  background-color: var(--primary-color);
  padding: 5px 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: var(--secondary-color);
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 1200px;
  margin: auto;
}

.left-column, .right-column {
  width: 100%;
  margin: 10px 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.left-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.left-header-title {
  color: #80b2ff;
}

.left-hamburger {
  display: flex;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
}

.left-hamburger span {
  width: 20px;
  height: 2px;
  background: #80b2ff;
}

.left-nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  background-color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-nav-links.show {
  display: block;
}

.left-nav-links li {
  margin-bottom: 10px;
}

.left-nav-links a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .left-column, .right-column {
    width: 50%;
    margin: 10px;
  }
  .nav-links {
    display: flex;
  }
  .hamburger {
    display: none;
  }
}

.add-task-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #90b2ff;
  color: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.task-form-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1; /* Add a higher z-index to bring the form to the front */
}

.task-form-container.show {
  display: flex;
}

#task-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-height: 85vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#task-form label {
  display: block;
  margin-bottom: 10px;
  width: 80%;
  text-align: left;
}

#task-form input, #task-form select, #task-form textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#task-fields, #event-fields {
  width: 80%;
}

#task-form button[type="submit"] {
  background-color: #90b2ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 10px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}

input[type="checkbox"]:checked + label:before {
  background-color: #80b2ff;
  border-color: #80b2ff;
}

input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
}



#cancel-button {
  background-color: #ccc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 10px;
}

#task-form h2 {
  width: 80%;
  text-align: center;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.task, .status {
  background-color: var(--secondary-color);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  color: #4c4c4c;
}

.task:hover, .status:hover {
  background-color: #80b3ff70;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.description.show {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
  max-width: none;
}

.edit-button,
.delete-button,
.mark-as-done-button {
  background-color: var(--secondary-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.edit-button:hover {
  background-color: #86ff80;
  color: #fff;
}
.delete-button:hover {
  background-color: #ff8080;
  color: #fff;
}
.mark-as-done-button:hover {
  background-color: #80b2ff;
  color: #fff;
}

.status-header{
  color: #4c4c4c;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.status-column {
  color: #80b2ff;
}
@media (hover: hover) {
  .description:hover {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
    max-width: none;
  }
}

.notification-container {
    position: relative;
    display: inline-block;
}

.bell-icon {
    width: 40px; /* Adjust size as needed */
    height: 40px;
    vertical-align: middle;
}

.notification-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    padding: 0;
}

#notification-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8rem;
}


.notification-dropdown {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 10px;
    z-index: 1000;
}

.notification-dropdown h4 {
    margin: 0 0 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

#notification-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
}

#notification-list li {
    padding: 5px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

#notification-list li.read {
    color: #999;
}

#no-notifications {
    color: #999;
    text-align: center;
    padding: 10px;
}

@media (max-width: 767px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .nav-links.show {
    display: flex;
  }
  .hamburger {
    display: flex;
  }
}